*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/build.gradle

app/proguard-rules.pro

build.gradle

gradle.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew.bat

gradlew

settings.gradle

app/src/test/java/com/popularmoviesapp/ExampleUnitTest.java
